body {
    background: #9796af;
  }
  .card {
    transition: transform 0.3s;
  }
  .card:hover {
    transform: scale(1.03);
  }
  
  .carousel img {
    height: 450px;
    object-fit: cover;
  }
  
  .carousel-caption {
    background: rgba(0,0,0,0.5);
    padding: 15px;
    border-radius: 10px;
  }

  section ul {
    list-style: none;
    padding-left: 0;
  }
  
  section ul li {
    margin-bottom: 8px;
    font-size: 0.95rem;
  }
  
  .category-card img {
    height: 220px;
    object-fit: cover;
  }
  
  .category-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  }
  
  .bestseller-card:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
}

/* Slider height */
.carousel-custom-height {
  height: 60vh;   /* adjust as needed */
  min-height: 450px;
}

/* Ensure full image is visible */
.carousel-custom-height .carousel-inner,
.carousel-custom-height .carousel-item {
  height: 100%;
}




.slider-img {
  height: 100%;
  width: 100%;
  object-fit: contain;     /* SHOW FULL IMAGE */
  background-color: #fff;  /* logo background color */
}

@media (max-width: 768px) {
  .carousel-custom-height {
      height: 40vh;
      min-height: 280px;
  }
}



.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 products per row */
  gap: 30px;
  padding: 20px;
}

.product-card {
  background: #99a69f;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.product-image {
  width: 500px;      /* ⬅ bigger width */
  height: 600px;     /* ⬅ bigger height */
  object-fit: cover; /* keeps image clean */
  border-radius: 10px;
  margin-bottom: 15px;
}


.product-image:hover {
  transform: scale(1.03);
}


.price {
  font-size: 40px;
  font-weight: bold;
  color: #5a2a82;
}

.cart-btn,
.btn-success {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 18px;
    background-color: #7be5b3;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.cart-btn:hover,
.btn-success:hover {
    background-color: #157347;
}


.category-filters {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.filter-btn {
  padding: 8px 18px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  border-radius: 20px;
  font-weight: 500;
}

.filter-btn.active {
  background-color: #2e7d32;
  color: white;
  border-color: #2e7d32;
}


.slider {
  display: flex;
  overflow: hidden;
}

.slider img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.cart-item:hover {
  background-color: #fafafa;
}

.btn-group span {
  min-width: 40px;
}
